*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

.login-container{
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.login-box{
    width:380px;
    background:#1e293b;
    padding:40px;
    border-radius:20px;
    box-shadow:0 0 25px rgba(56,189,248,.3);
}

.logo{
    text-align:center;
    margin-bottom:30px;
}

.logo h1{
    font-size:38px;
}

.echo{
    color:white;
}

.mind{
    color:#38bdf8;
}

.logo p{
    color:#cbd5e1;
    margin-top:10px;
    font-size:15px;
}

.input-box{
    margin-bottom:20px;
}

.input-box label{
    color:white;
    display:block;
    margin-bottom:8px;
}

.input-box input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#334155;
    color:white;
    font-size:15px;
    outline:none;
}

.input-box input::placeholder{
    color:#94a3b8;
}

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
    color:#cbd5e1;
    font-size:14px;
}

.options a{
    color:#38bdf8;
    text-decoration:none;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:30px;
    background:#38bdf8;
    color:black;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#0ea5e9;
}

.signup{
    text-align:center;
    margin-top:25px;
    color:#cbd5e1;
}

.signup a{
    color:#38bdf8;
    text-decoration:none;
    font-weight:600;
}
