.login-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0f172a;
}

.login-box{
    width:400px;
    background:#1e293b;
    padding:40px;
    border-radius:20px;
    box-shadow:0 0 25px rgba(56,189,248,.2);
}

.login-box h2{
    text-align:center;
    margin-bottom:30px;
    color:#38bdf8;
}

.login-box form{
    display:flex;
    flex-direction:column;
}

.login-box input{
    padding:15px;
    margin-bottom:20px;
    border:none;
    border-radius:10px;
    background:#334155;
    color:white;
    font-size:16px;
    outline:none;
}

.login-box input::placeholder{
    color:#cbd5e1;
}

.login-box button{
    padding:15px;
    background:#38bdf8;
    border:none;
    border-radius:10px;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
}

.login-box button:hover{
    background:#0ea5e9;
    color:white;
}

.login-box p{
    margin-top:20px;
    text-align:center;
    color:white;
}

.login-box a{
    color:#38bdf8;
    text-decoration:none;
}
.auth-header{
    position:absolute;
    top:25px;
    left:50px;
}

.brand-link{
    display:flex;
    align-items:center;
    text-decoration:none;
}

.brand-link img{
    width:60px;
    height:60px;
    object-fit:contain;
    margin-right:12px;
}

.brand-link h2{
    font-size:42px;
    font-weight:700;
}

.echo{
    color:white;
}

.mind{
    color:#38bdf8;
}

.login-container{
    position:relative;
}